. {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

#about {
  display: flex;
  padding: 5% 10%;
  background-color: rgb(241 250 255 / 85%);
  background-size: cover;
}

.heading h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
h2 {
  font-size: 30px;
  color: rgb(53, 53, 53);
  font-family: sans-serif;
  font-weight: 300px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 20px;
  color: grey;
  font-family: sans-serif;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}

.about-img {
  height: 100%;
  object-fit: cover;
  object-position: -70px 0px;
  border-radius: 6px;
}
/* skills */
#skills {
  display: flex;
  padding: 5% 10%;
  background-color: rgb(244 243 243 / 85%);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#skills h2 {
  padding-bottom: 20px;
}
h5 {
  margin: 5px;
  color: #47565e;
}

.skill {
  width: 80%;
  margin: 60px auto;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill li {
  margin: 20px 0;
  padding: 10px;
  list-style: none;
}

.bar {
  background: #93b6c8;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    35deg,
    rgb(205, 244, 244) 0%,
    rgba(198, 216, 255, 1) 100%
  );
}

.html {
  width: 90%;
  animation: html 3s;
}

.css {
  width: 85%;
  animation: css 3s;
}

.javascript {
  width: 90%;
  animation: javascript 3s;
}

.vue {
  width: 85%;
  animation: vue 3s;
}

.node {
  width: 85%;
  animation: node 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes vue {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes node {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
/*TESTIMONIALs*/
#testimonials {
  background: linear-gradient(
      0deg,
      rgba(123, 167, 164, 0.5),
      rgba(192, 204, 212, 0.5)
    ),
    url(../images/workspace-1280538_960_720.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* footer */
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(110, 105, 105);
  color: rgb(61, 60, 60);
  margin-top: 100px;
}

/* MR */
@media (max-width: 840px) {
  .header-container {
    display: none;
  }
  button.nav-button {
    display: block;
  }
  .about-sec {
    flex-direction: column;
  }
}
