* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

section {
  min-height: 80vh;
}
#contact {
  display: flex;
  padding: 5% 10%;
  background-color: rgba(229, 245, 255, 0.852);
  background-size: cover;
  display: flex;
  flex-direction: column;

}

h2 {
  font-size: 30px;
  color: rgb(53, 53, 53);
  font-family: sans-serif;
  font-weight: 300px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-decoration: underline rgb(72, 156, 216);
}

h3 {
  font-size: 20px;
  color: grey;
  font-family: sans-serif;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 40px;
}

label {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

button {
  background-color: #93b6c8;
  border-radius: 12px;
  width: 20%;
  align-self: center;
  border: none;
  color: white;
  margin-top: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 1px 1px black;
}
button:hover{
  background-color: rgb(122, 159, 223);
}
button.nav-button {
  width: 30px;
  position: fixed;
  top: 25px;
  right: 30px;
  display: none;
  background-color: #93b6c8;
  border-radius: 12px;
}

/* footer */
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(110, 105, 105);
  color: rgb(61, 60, 60);
  margin-top: 100px;
}

/* MR */
@media (max-width: 840px) {
  .header-container {
    display: none;
  }
}

@media (max-width: 840px) {
  button.nav-button {
    display: block;
  }
}
